* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

header {
  background: #bbbbbb;
  padding: 20px;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.produtos {
  width: 940px;
  margin: 0 auto;
}
.produtos li {
  display: inline-block;
}
